.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

@media screen and (max-width:419px) {

  h1 {
    font-size: 6em;
    margin-top: 0;
  }

  h3 {
    font-size: 2em;
  }

  #lezioni .row {
    background-color: lightgrey;
  }


  #lezioni .row > .left, #lezioni .row > .right {
    padding: 30px 0;
    float: none;
    width: 60%;
    display: block;
    margin: 0 auto;
    font-size: 3em;
  }

  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  #steps .row > .left,  #steps .row > .central, #steps .row > .right{
    float: left;
    width: 50%;
    float: none;
    margin: 0 auto;
    font-size: 3em;
  }

  #why .row > .first, #why .row > .second,  #why .row > .third {
    padding: 30px 0;
    float: none;
    width: 60%;
    display: block;
    margin: 0 auto;
    font-size: 3em;
  }

  .row {
    background-color: lightgrey;
    margin: 0;
    margin-top: 0;
  }
  .container.grey {
    background-color: lightgrey;
  }
}
